:root {
  --main-color: #ee6d4a;
  --secondary-color: #998f8c;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  padding: 20px 100px;
}

@media (min-width: 320px) {
  .container {
    padding: 20px 10px;
  }
  .icon-list {
    display: none;
  }

  .menu-list {
    display: none;
  }

  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-items {
    margin-top: 2rem;
  }

  .two-lists {
    flex-direction: column;
  }

  .list-items .two-lists ul:nth-of-type(2) {
    margin-left: 0;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    padding: 20px 70px;
  }

  footer .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list-items:last-child h4 {
    margin-left: 16.1rem;
  }

  .two-lists {
    flex-direction: row;
    margin-left: 16.1rem;
  }

  .two-lists ul {
    margin-right: 2rem;
  }

  .copyright {
    margin-top: 2rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .icon-list,
  .menu-list {
    display: block;
  }

  .container {
    padding: 20px 100px;
  }

  footer .container {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }

  .list-items:last-child h4 {
    margin-left: 0;
  }

  .two-lists {
    flex-direction: row;
    margin-left: 0;
  }

  /* .list-items ul {
    min-width: 390px;
  } */
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .logo {
  color: var(--main-color);
  font-family: Inkburrow;
  font-size: 2rem;
}

.header-content .menu {
  display: flex;
}

.header-content .menu .menu-list {
  margin-right: 2rem;
  padding-top: 10px;
}

.header-content .menu .menu-list ul {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.header-content .menu .menu-list ul li {
  margin-right: 40px;
  cursor: pointer;
}

.header-content .menu .menu-list ul li:hover {
  color: var(--main-color);
}

.header-content .menu .icon-list i {
  color: rgba(0, 0, 0, 0.645);
}

.header-content .menu .icon-list i:nth-of-type(2) {
  border-left: 1px solid rgba(128, 128, 128, 0.227);
  border-right: 1px solid rgba(128, 128, 128, 0.227);
  padding: 10px 15px;
}

.header-content .menu .icon-list i {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.header-content .menu .icon-list i:hover {
  color: var(--main-color);
}

.header-content .menu .icon-list span {
  color: var(--main-color);
}

.upper-section {
  background-color: var(--main-color);
  padding: 50px;
  min-width: 320px;
}

.upper-section h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.breadcrumb {
  margin-top: 2rem;
}

.breadcrumb-color {
  color: var(--main-color);
}

.breadcrumb-color small {
  text-decoration: line-through;
  color: grey;
  font-size: 0.9rem;
}

.main-features {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.main-features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 3rem;
}

.main-features .bags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-features .bags img {
  border-bottom: 2px solid #eee;
  /* position: relative; */
}

.main-features .bags p:nth-of-type(1) {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  position: relative;
}

.main-features .bags p:nth-of-type(1):after {
  content: "";
  position: absolute;
  width: 30px;
  color: red;
  border: 6px solid;
  border-color: #eee transparent transparent transparent;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.main-features .bags img {
  width: 300px;
}

footer {
  background-color: rgb(73, 71, 71);
  padding: 30px 0;
}

footer .container {
  display: flex;
  justify-content: space-around;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.copyright > h1 {
  color: var(--secondary-color);
  font-family: Inkburrow;
  margin: 0;
  margin-top: 0.1rem;
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
}
.copyright > p {
  max-width: 200px;
  line-height: 1.5;
  font-size: 0.91rem;
  color: var(--secondary-color);
}

.list-items {
  display: flex;
  flex-direction: column;
}

.list-items h4 {
  color: #fff;
}

.list-items ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  min-width: 160px;
}

.list-items ul li {
  margin-bottom: 1rem;
  cursor: pointer;
  color: var(--secondary-color);
}

.list-items ul li:hover {
  color: #fff;
}

.two-lists {
  display: flex;
}

.two-lists ul:nth-of-type(2) {
  margin-left: 5rem;
}
